:root {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #f0eded;
  color: #011b33;
  font-family: 'Carter One', cursive;
  font-size: clamp(1rem, 0.6923rem + 1.5385vw, 1.5rem);
}

.menu {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 1.5rem;
  border: none;
}

.sidebar{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  border: 2px solid red;
  position: absolute;
  width: 100%;
  background-color: yellow;

  @media screen and (min-width: 600px) {
    width: 350px;
  }
}

.holder {
  border: 2px solid purple;
  display: flex;
  padding: 1rem .5rem;
}

.title {
  font-size: clamp(1.25rem, 0.7885rem + 2.3077vw, 2rem);
}

.close {
  align-self: center;
  margin-left: auto;
  padding-right: .5rem;
  font-size: 1.5rem;
  border: none;
  background-color: inherit;
  color: #d10f2a;
}

.nav {
  border: 2px solid red;
  flex: 1;

  &_list {
    
    &-items {
      padding: .5rem;
      cursor: pointer;

      &:hover {
        color: #f2f2f2;
        background-color: #011b33;
      }
    }
  }
}

.social {
  padding: .5rem;
  display: flex;
  justify-content: center;

  &-items {
    margin: 0 .5rem;
    cursor: pointer;
  }
}
