:root {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f0eded;
  color: #011b33;
  font-family: 'Carter One', cursive;
}

.header {
  border: 2px solid red;
  padding: .5rem;

  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
  }
}

.holder {
  display: flex;
  justify-content: space-between;
}

.open {
  align-self: center;
  font-size: 1.5rem;
  border: none;
  transition: all 5s linear;

  @media screen and (min-width: 600px) {
    display: none;
  }
}

.show {
  display: none;
}

.nav {
  
  &_list {
    
    &-items {
      padding-top: .5rem;
    }
  }

  @media screen and (min-width: 600px) {
    display: block;
    align-self: center;

    &_list {
      display: flex;
  
      &-items {
        padding: 0;
        margin: 0 .5rem;
      }
    }
  }
}

.main {
  flex: 1;
 }

 .footer {
  border: 2px solid purple;
  padding: .5rem 0;

  &_list {
    display: flex;
    justify-content: center;

    &-items {
      margin: 0 .5rem;
    }
  }
}